@import "../../../assets/styles/index.scss";

.btn-up {
  background-color: $primary;
  position: fixed;
  bottom: 159px;
  right: 73px;
  border-radius: 50%;
}

// .btn-up:before {
//   content:">";
//   display: inline-block;
//   -webkit-transform: rotate(-90deg);
//   -moz-transform: rotate(-90deg);
//   -o-transform: rotate(-90deg);
//   transform: rotate(-90deg);
//   // transform: rotate(40deg);
//   font-size: 30px;
//   font-weight: bold;
//   padding-left:5px;
//   color: $tertiary;
// }
