@import "../../assets/styles/index.scss";

.title-logo {
  font-size: 6rem;
  font-family: "FauneFont", sans-serif;
  font-weight: bold;
  white-space: nowrap;
  color: $secondary;
  letter-spacing: -0.3rem;
}

.w-70 {
  width: 70%;
}

.fs-small {
  font-size: 3rem;
}

.fs-normal {
  font-size: 6rem;
}
