@import "../styles/variables";

.navbar {
    height: 200px;

    .logo {
      width: 80%;
    }
    .menu {
      display: flex;
      justify-content: center;
    

      .btn-cta {
          transform: translate(-50%, 0);
          position: absolute;
          left: 50%;
          width: 200px;
          height: 50px;
          border-radius: 15px;
          align-items: center;
          justify-content: center;
          background-color: $primary;
      }
    }
}
