.img-profile {
  border-radius: 10%;
  width: 54%;
}

@media (max-width: "768px") {
  .img-profile {
    width: 44%;
    object-fit: fill;
  }
}

.content {
  // .name {
  // }
  .description {
    font-weight: 700;
    font-size: 1.2rem;
  }
}
