.img-profile {
  border-radius: 10%;
  object-fit: cover;
  width: 22vw;
  height: 44vh;
  object-position: left 23%;
}

@media (max-width: "991px") {
  .img-profile {
    object-fit: cover;
    width: 400px;
    height: 400px;
    object-position: left 23%;
  }
}

.content {
  // .name {
  // }
  .description {
    font-weight: 700;
    font-size: 1.2rem;
  }
}
