@import "../../assets/styles/index.scss";

.title {
  font-weight: bold;
}
// ! ADD EFFECT HERE TO THE BOX
.principleBox {
  color: $alternative;
  background-color: $secondary;
  height: 140px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.color-secondary {
  color: $secondary;
}
