@import "../../assets/styles/index.scss";

.bg-numbers {
  height: 400px;
  transform: translate(40px, 120px);
  max-width: 500px;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  /* fallback for old browsers */
  box-shadow: inset 0 0 0 2000px rgb(255 255 255 / 46%);
  background-image: url("../../assets/images/deforestation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8%;
  z-index: 2;
}

.text-numbers {
  color: $secondary;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: "Faune", sans-serif;
}

.numbers::after {
  content: ".000";
}

.rectangle {
  width: 80vw;
  margin: 0 auto;
}
.text-right {
  z-index: 1;
  margin: 0 left;
}
@media (max-width: 768px) {
  .bg-numbers {
    transform: translate(1px, 120px);
    position: relative;
    top: -10px;
    z-index: 1;
  }
  .rectangle {
    position: relative;
    top: 50px;
  }
  .text-right {
    z-index: 1;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    padding: 15px;
  }
}
